:root {
    --background-color: rgb(37, 37, 37);
    --accent-color-1: rgb(28, 28, 28);
    --accent-color-2: rgb(38, 38, 38);
    --contents-margin-top: 10rem;
    --h2-margin-bottom: 1rem;
    --h2-margin-top: 1rem;
}
body {
    color: #ffff;
    /* overflow: hidden; */
    font-family: "Poppins";
    background-color: var(--background-color);
}