:root {
    --h2-margin-bottom: 1rem;
    --h2-margin-top: 1rem;
}
body {
    color: #ffff;
    overflow: hidden;
    font-family: "Poppins";
    background-color: #161616;
}
/*! Container style*/
div.container {
    border-radius: 4%;
    background-color: #262626;
    height: 25rem;
    width: 60rem;
}

/*Container Header style -*/
div.container-header {
    outline: #161616;
    outline-width: 4%;
    outline-style: solid;
}
div.container-header>span {
    position: relative;
    left: 10rem;
}
div.container-header select {
    position: relative;
    left: 35rem;
    bottom: 1rem;
    color: gold;
    background-image: #111111;
    cursor: pointer;
    line-height: 1.1;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
div.container-header option {
    color: gold;
    background-color: #111111;
}

div.container>div.player-list>h2 {
    position: relative;
    left: 1rem;
    top: var(--h2-space-between);
}

/*Player List style*/
div.container>div.player-list{
    position: absolute;
    width: 30rem;
}
div.container>div.player-list>h2{
    margin-bottom: var(--h2-margin-bottom);
    margin-top: var(--h2-space-between);
}
div.container>div.player-list>p{
    max-width: fit-content;
    top: 4rem;
    padding-left: 1rem;
}
div.container>div.player-list>p:not(:last-child) {
    margin-bottom: 2rem;
}


/*Coin Rankings style*/
div.coinRankings {
    position: absolute;
    bottom: 20rem;
    left: 30rem;
}
div.coinRankings>h2 {
    margin-left: 0.8rem;
    margin-bottom: var(--h2-margin-bottom);
    margin-top: var(--h2-space-between);
}
div.coinRankings>p {
    max-width: fit-content;
    top: 4rem;
    padding-left: 1rem;
}
div.coinRankings>p:not(:last-child) {
    margin-bottom: 2rem;
}