<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MCC Analyser</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css-reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/container.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/player-list.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/total-player-coins.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/total-team-coins.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/team-avg.css') }}">

    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <h1>MCC Analyser</h1>
    <span>Work in progress tool for displaying stats of the latest MCC event!</span>
    <div class="teams">
      {% macro teamContainer(team, label) -%}
      <div
        id="{{team}}"
        class="container"
        x-data="{ 
        playerdata: null,
        players: [],
        totalPlayerCoins: {0: 'default', 1: 'default', 2: 'default', 3: 'default'},
        sum: 0,
     }"
      >
        <div class="container-header">
          <img src="/static/img/{{team}}.png" alt="{{label}}">
          <span>{{label}}</span>
        </div>
        <div
          class="cell-checker1 player-list"
          x-data="{
            async getPlayerNames() {
                let players = []
                let playerdata = await fetch('/static/db/participants{{team}}.json').then(response => response.json()).then(response => response.data)
                for (p in playerdata) { 
                    players.push(playerdata[p].username)
                }
                this.players = players
            }
        }"
          x-init="getPlayerNames()"
        >
          <span>Players</span>
          <template x-for="username in players">
            <p x-text="username"></p>
          </template>
        </div>

        <div
          class="cell-checker1 cell total-player-coins"
          x-data="{
            async gettotalPlayerCoins() {

                let res = await fetch('{{ url_for('static',filename='db/individualScores.json') }}').then(response => response.json()).then(response => response.data)
                for (p in this.players) {
                    totalPlayerCoins[p] = res.individualScores[this.players[p]]

                }

            }
        }"
          x-init="gettotalPlayerCoins()"
        >
          <span>Total Player Coins</span>
          <template x-for="totalPlayerCoin in totalPlayerCoins">
            <p x-text="totalPlayerCoin"></p>
          </template>
        </div>

        <div
          class="cell-checker2 cell total-team-coins"
          x-data="{
            sumOfTeamCoins(v){
                let sum = 0
                for (n in v){
                    sum = sum + v[n]
                }
                this.sum = sum
            }
         }"
          x-init="$watch('totalPlayerCoins', value => sumOfTeamCoins(value))"
        >
          <span>Total Team Coins</span>
          <p x-text="sum"></p>
        </div>

        <div
          class="cell-checker1 cell team-avg"
          x-data="{teamAvg:0, set(v){ let teamAvg = v/4; this.teamAvg = teamAvg} }"
          x-init="$watch('sum', value => set(value))"
        >
          <span>Average Team Coins</span>
          <p x-text="teamAvg"></p>
        </div>
      </div>
      {%- endmacro %}
      {{ teamContainer('AQUA', 'Aqua Axolotls') }}
      {{ teamContainer('CYAN', 'Cyan Coyotes') }}
      {{ teamContainer('GREEN', 'Green Geckos') }}
      {{ teamContainer('LIME', 'Lime LLamas') }}
      {{ teamContainer('ORANGE', 'Orange Ocelots') }}
      {{ teamContainer('PINK', 'Pink Parrots') }}
      {{ teamContainer('PURPLE', 'Purple Pandas') }}
      {{ teamContainer('RED', 'Red Rabbits') }}
      {{ teamContainer('YELLOW', 'Yellow Yaks') }}
    </div>
    <footer>
      <p>This website is not affiliated with Mojang Studios or Noxcrew Ltd.</p>
    </footer>
  </body>
</html>
