/*Player List style*/
.player-list {
  padding-top: 3rem;
}

/* .player-list > p:not(:last-child) {
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
}
.player-list > p:nth-child(odd) {
  background-color: var(--accent-color-1);
} */
