:root {
  --background-color: rgb(230, 230, 230);
  --accent-color-1: rgb(38, 38, 38);
  --accent-color-2: rgb(28, 28, 28);
  --accent-color-3: rgb(24, 24, 24);
  --text-color: #000000;

  --contents-margin-top: 10rem;
  --h2-margin-bottom: 1rem;
  --h2-margin-top: 1rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 3rem;
}

.teams {
  display: block;
}

.cell {
  background-color: var(--accent-color-1);
  position: relative;
  text-align: center;
  word-wrap: nowrap;
  height: 20rem;
  width: 8rem;
  flex: 20%;
  top: 4rem;
}

.cell > p:not(:last-child) {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.cell > p:nth-child(odd) {
  background-color: var(--accent-color-2);
}

.cell-dark {
  background-color: var(--accent-color-2);
}

.cell-dark > p:nth-child(odd) {
  background-color: var(--accent-color-1);
}

.cell > span.category {
  display: block;
  height: 3rem;
  padding-top: 0.5rem;
}

footer {
  padding: 2rem;
  border-radius: 2px;
  width: 100%;
  color: white;
  background-color: var(--accent-color-1);
}

::-webkit-scrollbar {
  display: none;
}
